{% extends 'base.html' %}



{% block body %}


	<div class="container">
	
	<div id="hero-unit1">
		
	<div id="aboutUs">
	
	<p>
		This website has been created by three <a href="http://ischool.uw.edu/" target="_blank">Informatics</a> majors studying at the University of Washington.
		We are Jeff Cairns, Misha Tsao and Cory Eurom. We built this tool to help BlackRock employees find financial information on their competitors.
		This application aggregates mutual fund information from the Securities &amp; Exchange Commissions and presents it to BlackRock employees. 
	</p>		
	<p> 
	This application leverages a new reporting language known as XBRL. XBRL stands for the eXtensible Business Reporting Language and it is the new standard for financial reporting. The goal of XBRL is to create financial transparency using web technology. Because XBRL is a new technology, the value is still relatively mysterious. Beyond displaying mutual fund information, we built this application to examine the business value of XBRL.    
	</p>
	
	<p>We used <a href="http://arelle.org" target="_blank">arelle</a> and <a href="https://code.google.com/p/xbrlware/" target="_blank">xbrlware</a> to parse XBRL documents. We built the website in <a href="http://flask.pocoo.org" target="_blank">Flask</a>. We built the database with <a href="http://www.sqlite.org/" target="_blank">SQLite</a>. We collaborated using <a href="https://github.com/" target="_blank">github</a>.</p>

	<p>
		We would like to thank Marisa Quinn, Eric Larsen and Doug Cairns of BlackRock for providing us this opportunity. We would also like to thank all of the instructors in the iSchool who taught us the skills to build this application.
	</p>

	</div>
	</div>
	
</div>
{% endblock %}

