{% extends 'base.html' %}


{% block body %}
<div class="container">
	<div class="hero-unit">
		<div class="container span6">
			<h3>Welcome</h3>
			<p>Text</p>
<!-- 
			<ul class="nav nav-tabs">
				<li><a href="#home" data-toggle="tab">Home</a></li>
				<li><a href="#profile" data-toggle="tab">Profile</a></li>
				<li><a href="#messages" data-toggle="tab">Messages</a></li>
				<li><a href="#settings" data-toggle="tab">Settings</a></li>
			</ul>
 -->
		<p>
		</div>
		<div class="row" >
		</div>
		<div class="row">	
			<div class="span5 offset8">	
			<div class="span2">
			<a class="btn btn-primary btn-large" href="/form497">Research Mutual Funds »</a>
			</div>			
<!-- 
			<div class="span2">
			<a class="btn btn-primary btn-large" href="/form497">Research Mutual Funds »</a>
			</div>
 -->
			</div>
		</div>
		</p>
	</div>
	<!-- 
<div class="row">
		<div class="span6">
			<h2>About Us</h2>
			<p>We are Jeff Cairns, Misha Tsao and Cory Eurom from the University of Washington. We built this application as part of our "Capstone Project" in order to graduate with a degree in Informatics. 
			Our goal is to create a tool that is easy to use, improves efficiencies within BlackRock and helps BlackRock make business decisions.</p>
			<p>
				<a class="btn" href="/about">Learn More »</a>
			</p>
		</div>
		<div class="span6">
			<h2>Acknowledgements</h2>
			<p>
				We would like to thank the UW iSchool, Marisa Quinn, Eric Larsen and Doug Cairns for allowing us to work on this project for BlackRock. 
			</p>
		</div>
	</div>
 -->
	<hr>
	<footer>
		
	</footer>
</div>
{% endblock %}